In [2]:
import pandas as pd
df = pd.read_excel(r"C:\Project_6\Articles.xlsx")
df.head()

,Article,Date,Heading,NewsType,AH,year,month,day,sentiment,emotion,Unnamed: 10,Location
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HONG KONG: Hong Kong shares opened 0.66 perce...,2015-01-05,hong kong stocks open 0.66 percent lower,business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HONG KONG: Asian markets tumbled Tuesday follo...,2015-01-06,asian stocks sink euro near nine year,business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NEW YORK: US oil prices Monday slipped below $...,2015-01-06,us oil prices slip below 50 a barr,business,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Dropping of NaN Columns
df = df.drop(columns=['AH',	'year',	'month',	'day',	'sentiment',	'emotion',	'Unnamed: 10',	'Location'])

In [4]:
df.head()

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,2015-01-05,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,2015-01-06,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,2015-01-06,us oil prices slip below 50 a barr,business

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2692 entries, 0 to 2691
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Article   2692 non-null   object
 1   Date      2692 non-null   datetime64[ns]
 2   Heading   2692 non-null   object
 3   NewsType  2692 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 84.3+ KB

In [6]:
df['Article']

0       KARACHI: The Sindh government has decided to b...
1       HONG KONG: Asian markets started 2015 on an up...
2       HONG KONG:  Hong Kong shares opened 0.66 perce...
3       HONG KONG: Asian markets tumbled Tuesday follo...
4       NEW YORK: US oil prices Monday slipped below $...
                              ...
2687    strong>DUBAI: Dubai International Airport and ...
2688    strong>BEIJING: Former Prime Minister, Shaukat...
2689    strong>WASHINGTON: Uber has grounded its fleet...
2690    strong>BEIJING: The New Development Bank plans...
2691    strong>KARACHI: Karachi-based technology incub...
Name: Article, Length: 2692, dtype: object

In [7]:
# Extracting Location from Article manually
import re

def extract_city(article):
    article = str(article).upper().strip()  
    match = re.match(r"(?:STRONG>)?([A-Z/\s]+):", article)
    if match:
        return match.group(1).strip()
    else:
        return None
                  
df['Header_Location'] = df['Article'].apply(extract_city)

In [8]:
df[df['Header_Location'].isna()]

,Article,Date,Heading,NewsType,Header_Location
77,The International Monetary Fund (IMF) has cite...,2015-03-12,pakistans economy improving imf,business,None
147,Zong Pakistan’s Chief Executive Liu Dianfeng ...,2015-05-14,cut in tax rate to bring positive impact on go...,business,None
213,A major rally in Google pushed the Nasdaq to a...,2015-07-18,google propels nasdaq to another record high,business,None
334,"STRASBOURG, FRANCE: European lawmakers on Tues...",2015-10-27,eu lawmakers end mobile roaming charg,business,None
340,"KARACHI, October 30, 2015 - Advance Telecom wi...",2015-11-01,futuretech brings iphone 6s iphone 6s plus to ...,business,None
...,...,...,...,...,...
2655,Prime Minister Nawaz Sharif has proposed estab...,2017-03-07,PM Nawaz proposes establishment of Pakistan Ku...,business,None
2660,strong>Oil prices dropped to their lowest in t...,2017-03-13,Oil prices hit three month low as US rig count...,business,None
2672,strong>Growth of sharia-compliant investment f...,2017-03-02,Investment inflows spur Pakistans corporate su...,business,None
2673,Prime Minister Nawaz Sharif has proposed estab...,2017-03-07,PM Nawaz proposes establishment of Pakistan Ku...,business,None
2678,strong>Oil prices dropped to their lowest in t...,2017-03-13,Oil prices hit three month low as US rig count...,business,None

In [9]:
# Cleaning the Text
import re
def clean_text(text):
    text = str(text)
    text = re.sub(r"http\S+", "", text)
    text = re.sub(r"\s+", " ", text)
    return text.strip()

In [10]:
df['Article'] = df['Article'].apply(clean_text)
df['Heading'] = df['Heading'].apply(clean_text)

In [11]:
df.head()

,Article,Date,Heading,NewsType,Header_Location
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,KARACHI
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business,HONG KONG
2,HONG KONG: Hong Kong shares opened 0.66 percen...,2015-01-05,hong kong stocks open 0.66 percent lower,business,HONG KONG
3,HONG KONG: Asian markets tumbled Tuesday follo...,2015-01-06,asian stocks sink euro near nine year,business,HONG KONG
4,NEW YORK: US oil prices Monday slipped below $...,2015-01-06,us oil prices slip below 50 a barr,business,NEW YORK

In [12]:
df['Article'].loc[1]

'HONG KONG: Asian markets started 2015 on an upswing in limited trading on Friday, with mainland Chinese stocks surging in Hong Kong on speculation Beijing may ease monetary policy to boost slowing growth.Hong Kong rose 1.07 percent, closing 252.78 points higher at 23857.82.Seoul closed up 0.57 percent, rising 10.85 points to 1,926.44, while Sydney gained 0.46 percent, or 24.89 points, to close at 5,435.9.Singapore edged up 0.19 percent, gaining 6.39 points to 3,371.54.Markets in mainland China, Japan, Taiwan, New Zealand, the Philippines, and Thailand remained closed for holidays.With mainland bourses shut until January 5, shares in Chinese developers and financial companies surged in Hong Kong, stoked by hopes that Beijing could ease monetary policy to support lagging growth in the world´s second-largest economy.China Vanke, the country´s biggest developer by sales, leapt 10.8 percent and the People´s Insurance Company (Group) of China Ltd. was up 5.51 percent in afternoon trading.Train-builders CSR Corp. and China CNR Corp. soared -- CSR by 16.5 percent and China CNR by 16.0 percent -- extending gains on December 31 after they announced a merger agreement.China´s manufacturing growth dropped in December to its lowest level of 2014, an official survey showed Thursday, as the sector struggles with weak domestic demand.China´s official Purchasing Managers´ Index (PMI) released by the National Bureau of Statistics (NBS) came in at 50.1 last month, down from 50.3 recorded in November.The index, which tracks activity in factories and workshops, is considered a key indicator of the health of China´s economy, a major driver of global growth. A figure above 50 signals expansion, while anything below indicates contraction."Growth momentum is still insufficient," NBS said in a statement. - Investors eye US factory data -On forex markets the dollar extended gains ahead of the release of American factory data due later on Friday and following a steady stream of good news from the world´s biggest economy.The dollar bought 120.44 yen, compared to 119.44 yen in final 2014 trading on Wednesday.Wall Street toasted a banner year in 2014, with US equity markets finishing near all-time highs.The euro meanwhile slipped amid growing expectations that the European Central Bank, which meets on January 22, will start buying sovereign bonds. The single currency bought $1.2061 compared to $1.2160 in pre-holiday trade.The ECB has already used several tools to push inflation in member nations back up to the 2.0 percent annual rate it regards as healthy, including asset purchases and making cheap loans available to banks.It is also examining the possibility of large-scale purchases of sovereign debt -- so-called quantitative easing (QE) -- to help jump-start the European Union´s moribund economy.Oil prices rose on Friday, with US benchmark West Texas Intermediate for February delivery rising 44 cents to $54.07 and Brent crude for February gaining 18 cents to $57.51."The gains in Asian trading are likely because of the positive US crude stockpiles data released on Wednesday," Daniel Ang, investment analyst at Phillip Futures in Singapore, told AFP.US crude reserves fell by 1.8 million barrels in the week to December 26, the US Energy Information Administration said in its last petroleum report for 2014 released on Wednesday, boosting prices that lost nearly half their value in the second half of the year.There is growing speculation that the slide in global oil prices -- the biggest since the financial crisis in 2008 -- may have been excessive."If we do see some supply-side responses, or even if they´re anticipated over the course of this first quarter of the year, we might find that oil has in fact bottomed," Michael McCarthy, a chief strategist at CMC Markets in Sydney, told Bloomberg.Gold was at $1,182.36 an ounce, compared with $1,199.00 in end-of-year trading on Wednesday.In other markets:-- Jakarta ended up 0.30 percent, or 15.82 points, at 5,242.77.Coal firm Indo Tambangraya Megah gained 3.41 percent to 15,900 rupiah, while miner Aneka Tambang slipped 1.88 percent to 1,045 rupiah.-- Malaysia´s main stock index shed 0.48 percent, or 8.48 points, to close at 1,752.77.Malayan Banking lost 0.55 percent to 9.12 ringgit, Public Bank slipped 0.44 percent to 18.22 while Top Globe added 1.77 percent 4.60 ringgit.-- Singapore rose 0.16 percent, or 5.44 points, to 3,370.59.Agribusiness company Wilmar International gained 0.93 percent to Sg$3.27 while real estate developer Capitaland dipped 0.30 percent to Sg$3.30.-- Mumbai gained 1.38 percent, or 380.36 points, to end at 27,887.90.Housing Development Finance Corp rose 4.30 percent to 1,171.80 rupees, while Mahindra & Mahindra fell 0.92 percent to 1,224.80 rupees. (AFP)'

In [13]:
! pip install spacy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: spacy in c:\users\d e l l\appdata\roaming\python\python313\site-packages (3.8.11)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (1.0.15)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (2.0.13)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (3.0.12)
Requirement already satisfied: thinc<8.4.0,>=8.3.4 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (8.3.10)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (1.1.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (2.5.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.5.0,>=0.4.2 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (0.4.3)
Requirement already satisfied: typer-slim<1.0.0,>=0.3.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (0.21.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (4.67.3)
Requirement already satisfied: numpy>=1.19.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (2.2.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (2.32.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (2.12.5)
Requirement already satisfied: jinja2 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (3.1.5)
Requirement already satisfied: setuptools in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (75.8.0)
Requirement already satisfied: packaging>=20.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from spacy) (24.2)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.5 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.41.5)
Requirement already satisfied: typing-extensions>=4.14.1 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.2 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.4.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2024.12.14)
Requirement already satisfied: blis<1.4.0,>=1.3.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from thinc<8.4.0,>=8.3.4->spacy) (1.3.3)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from thinc<8.4.0,>=8.3.4->spacy) (0.1.5)
Requirement already satisfied: colorama in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Requirement already satisfied: click>=8.0.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from typer-slim<1.0.0,>=0.3.0->spacy) (8.1.8)
Requirement already satisfied: cloudpathlib<1.0.0,>=0.7.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from weasel<0.5.0,>=0.4.2->spacy) (0.23.0)
Requirement already satisfied: smart-open<8.0.0,>=5.2.1 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from weasel<0.5.0,>=0.4.2->spacy) (7.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from jinja2->spacy) (3.0.2)
Requirement already satisfied: wrapt in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from smart-open<8.0.0,>=5.2.1->weasel<0.5.0,>=0.4.2->spacy) (2.1.1)

[notice] A new release of pip is available: 24.3.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
# NER Location Extraction

import spacy
nlp = spacy.load("en_core_web_sm")
def Extract_NER_Location(text):
    doc = nlp(text)
    return list(set(ent.text for ent in doc.ents if ent.label_ in ['GPE','LOC']))

df['NER_Location'] = df['Article'].apply(Extract_NER_Location)

In [15]:
df['NER_Location'].isna().sum()

np.int64(0)

In [16]:
df[df['Header_Location'].isna()]

,Article,Date,Heading,NewsType,Header_Location,NER_Location
77,The International Monetary Fund (IMF) has cite...,2015-03-12,pakistans economy improving imf,business,None,[Pakistan]
147,Zong Pakistan’s Chief Executive Liu Dianfeng s...,2015-05-14,cut in tax rate to bring positive impact on go...,business,None,[]
213,A major rally in Google pushed the Nasdaq to a...,2015-07-18,google propels nasdaq to another record high,business,None,"[US, U.S., Philadelphia]"
334,"STRASBOURG, FRANCE: European lawmakers on Tues...",2015-10-27,eu lawmakers end mobile roaming charg,business,None,"[STRASBOURG, Strasbourg, FRANCE, US, Europe]"
340,"KARACHI, October 30, 2015 - Advance Telecom wi...",2015-11-01,futuretech brings iphone 6s iphone 6s plus to ...,business,None,[Pakistan]
...,...,...,...,...,...,...
2655,Prime Minister Nawaz Sharif has proposed estab...,2017-03-07,PM Nawaz proposes establishment of Pakistan Ku...,business,None,"[Kuwait City, Pakistan, Kuwait]"
2660,strong>Oil prices dropped to their lowest in t...,2017-03-13,Oil prices hit three month low as US rig count...,business,None,"[the United States, Russia, U.S.]"
2672,strong>Growth of sharia-compliant investment f...,2017-03-02,Investment inflows spur Pakistans corporate su...,business,None,"[Pakistan, Gulf]"
2673,Prime Minister Nawaz Sharif has proposed estab...,2017-03-07,PM Nawaz proposes establishment of Pakistan Ku...,business,None,"[Kuwait City, Pakistan, Kuwait]"
2678,strong>Oil prices dropped to their lowest in t...,2017-03-13,Oil prices hit three month low as US rig count...,business,None,"[the United States, Russia, U.S.]"

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2692 entries, 0 to 2691
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Article          2692 non-null   object
 1   Date             2692 non-null   datetime64[ns]
 2   Heading          2692 non-null   object
 3   NewsType         2692 non-null   object
 4   Header_Location  2362 non-null   object
 5   NER_Location     2692 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 126.3+ KB

In [18]:
df.head()

,Article,Date,Heading,NewsType,Header_Location,NER_Location
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,KARACHI,"[Sindh, Karachi]"
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business,HONG KONG,"[New Zealand, Hong Kong, HONG KONG, Philippine..."
2,HONG KONG: Hong Kong shares opened 0.66 percen...,2015-01-05,hong kong stocks open 0.66 percent lower,business,HONG KONG,"[Hong Kong, HONG KONG]"
3,HONG KONG: Asian markets tumbled Tuesday follo...,2015-01-06,asian stocks sink euro near nine year,business,HONG KONG,"[Seoul, Tokyo, Hong Kong, HONG KONG, Milan, US..."
4,NEW YORK: US oil prices Monday slipped below $...,2015-01-06,us oil prices slip below 50 a barr,business,NEW YORK,"[Russia, Saudi Arabia, Middle East, Iraq, Braz..."

In [19]:
# Normalize text for NER_Location Column and removing the repeated names of the location
def clean_location(locations):
    return list(set(loc.lower().strip() for loc in locations))
df['NER_Location'] = df['NER_Location'].apply(clean_location)

In [20]:
df.head(1)

,Article,Date,Heading,NewsType,Header_Location,NER_Location
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,KARACHI,"[sindh, karachi]"

In [21]:
# missing value insertion in Header_Location with NER_Location

df['Header_Location'] = df['Header_Location'].fillna(df['NER_Location'].str[0])

In [23]:
df[df['Header_Location'].isna()]

,Article,Date,Heading,NewsType,Header_Location,NER_Location
147,Zong Pakistan’s Chief Executive Liu Dianfeng s...,2015-05-14,cut in tax rate to bring positive impact on go...,business,NaN,[]
580,"strong>Gannett Co Inc, the publisher of USA To...",2016-04-25,USA Today Tribune Publishing Medi,business,NaN,[]
585,strong>Twitter Inc reported lower-than-expecte...,2016-04-27,Twitter stock plunges after revenue misses esti,business,NaN,[]
592,"strong>LinkedIn Corp, the operator of the worl...",2016-04-29,Professional network operator LinkedIns revenu...,business,NaN,[]
1668,Rafa Nadal has asked the International Tennis ...,2016-04-27,Publish my drug test results says Nad,sports,NaN,[]
1719,strong>The Court of Arbitration for Sport on M...,2016-05-09,Top sports tribunal Platinis ban soccer four year,sports,NaN,[]
1725,Whistleblower Vitaly Stepanov told Reuters on ...,2016-05-10,Whistleblower nearly aborted efforts to expose...,sports,NaN,[]
1763,Wayne Rooney and Marcus Rashford scored to lif...,2016-05-18,Man United ease past Bournemouth to seal fifth,sports,NaN,[]
1778,Some Russian athletes are likely to have teste...,2016-05-20,Russian athletes likely to have tested positiv...,sports,NaN,[]
1779,strong>The investigatory chamber of world socc...,2016-05-20,FIFA ethics investigation recommends two year ...,sports,NaN,[]
1793,Heavy rain postponed play on day two of the Fr...,2016-05-23,Rain delays start of day two at French O,sports,NaN,[]
1798,strong>FIFA has fired its deputy secretary gen...,2016-05-24,FIFA fires deputy secretary general Kattner,sports,NaN,[]
2172,strong>Paralympic gold medallist Oscar Pistori...,2016-07-06,Pistorius defence team say will not appeal six...,sports,NaN,[]
2635,strong>OPEC has delivered over 90 percent of p...,2017-02-10,OPEC figures show over 90 pc compliance with s...,business,NaN,[]

In [25]:
df = df.dropna(subset=['Header_Location'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2678 entries, 0 to 2691
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Article          2678 non-null   object
 1   Date             2678 non-null   datetime64[ns]
 2   Heading          2678 non-null   object
 3   NewsType         2678 non-null   object
 4   Header_Location  2678 non-null   object
 5   NER_Location     2678 non-null   object
dtypes: datetime64[ns](1), object(5)
memory usage: 146.5+ KB

In [28]:
! pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\d e l l\appdata\roaming\python\python313\site-packages (3.9.2)
Requirement already satisfied: click in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from nltk) (2026.1.15)
Requirement already satisfied: tqdm in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from nltk) (4.67.3)
Requirement already satisfied: colorama in c:\users\d e l l\appdata\roaming\python\python313\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 24.3.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
# SENTIMENT ANALYSIS TO FIND EMOTION PATTERN
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

def get_Sentiments_scores(text):
    scores = sia.polarity_scores(text)
    return scores['compound']

[nltk_data] Downloading package vader_lexicon to C:\Users\D E L
[nltk_data]     L\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [30]:
# Applying Sentiment to all our Articles
df['sentiment']= df['Article'].apply(get_Sentiments_scores)

C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\1591085798.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentiment']= df['Article'].apply(get_Sentiments_scores)

In [31]:
df.head(1)

,Article,Date,Heading,NewsType,Header_Location,NER_Location,sentiment
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,KARACHI,"[sindh, karachi]",-0.6369

In [32]:
# Converting Sentiment numerics to Labels
def sentiment_label(score):
    if score >= 0.05:
        return "Positive"
    elif score <= -0.05:
        return "Negative"
    else:
        return "Neutral"

df['sentiment_label'] = df['sentiment'].apply(sentiment_label)
df.head(3)

C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\3578604415.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentiment_label'] = df['sentiment'].apply(sentiment_label)

,Article,Date,Heading,NewsType,Header_Location,NER_Location,sentiment,sentiment_label
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,KARACHI,"[sindh, karachi]",-0.6369,Negative
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business,HONG KONG,"[hong kong, jakarta, sydney, singapore, taiwan...",0.9856,Positive
2,HONG KONG: Hong Kong shares opened 0.66 percen...,2015-01-05,hong kong stocks open 0.66 percent lower,business,HONG KONG,[hong kong],0.0000,Neutral

In [33]:
# Topic Modeling
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
nltk.download('stopwords')

# Convert text into Numbers
stopwords = stopwords.words('english')
vector = CountVectorizer(max_df=0.9,min_df=5,stop_words=stopwords)
dtm = vector.fit_transform(df['Article'])

[nltk_data] Downloading package stopwords to C:\Users\D E L
[nltk_data]     L\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [34]:
# Built topic model
from sklearn.decomposition import LatentDirichletAllocation
Lda = LatentDirichletAllocation(n_components=5,random_state=42)
Lda.fit(dtm)

LatentDirichletAllocation(n_components=5, random_state=42)

In [35]:
words = vector.get_feature_names_out()

for i, topic in enumerate(Lda.components_):
    print(f"\nTopic {i+1}:")
    print([words[j] for j in topic.argsort()[-10:]])

Topic 1:
['team', 'last', 'final', 'one', 'time', 'strong', 'year', 'first', 'said', 'world']

Topic 2:
['new', 'day', 'first', 'series', 'team', 'said', 'england', 'pakistan', 'cricket', 'test']

Topic 3:
['strong', 'also', 'would', 'minister', 'government', 'million', 'year', 'billion', 'pakistan', 'said']

Topic 4:
['overs', 'balls', 'three', 'captain', 'wickets', 'match', 'wicket', 'two', 'first', 'runs']

Topic 5:
['dollar', 'week', 'market', 'year', 'crude', 'us', 'prices', 'said', 'oil', 'percent']

In [36]:
# Assigning Topic to Each Article
topic_values = Lda.transform(dtm)
df['Topic'] = topic_values.argmax(axis=1)

C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\3029787645.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Topic'] = topic_values.argmax(axis=1)

In [37]:
df.head(2)

,Article,Date,Heading,NewsType,Header_Location,NER_Location,sentiment,sentiment_label,Topic
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,KARACHI,"[sindh, karachi]",-0.6369,Negative,2
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business,HONG KONG,"[hong kong, jakarta, sydney, singapore, taiwan...",0.9856,Positive,4

In [38]:
# Converting Date column to Date_Time
df['Date'] = pd.to_datetime(df['Date'])
df['DayOftheWeek'] = df['Date'].dt.day_name()
df['month'] = df['Date'].dt.month

C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\512288070.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\512288070.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DayOftheWeek'] = df['Date'].dt.day_name()
C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\512288070.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['Date'].dt.month

In [39]:
df.head(1)

,Article,Date,Heading,NewsType,Header_Location,NER_Location,sentiment,sentiment_label,Topic,DayOftheWeek,month
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,KARACHI,"[sindh, karachi]",-0.6369,Negative,2,Thursday,1

In [40]:
# Anomaly Detection
# Converting Text to Labels
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['NewsType_Encoded'] = le.fit_transform(df['NewsType'])
df['sentiment_label'] = le.fit_transform(df['sentiment_label'])

C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\4002743467.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NewsType_Encoded'] = le.fit_transform(df['NewsType'])
C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\4002743467.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sentiment_label'] = le.fit_transform(df['sentiment_label'])

In [41]:
numeric_features = df[['sentiment','Topic','NewsType_Encoded','sentiment_label']]

In [42]:
# Train Anomaly Detection Model (Isolation Forest)
from sklearn.ensemble import IsolationForest

iso = IsolationForest(
    n_estimators=100,
    contamination=0.05,   
    random_state=42
)

df['anomaly_score'] = iso.fit_predict(numeric_features)

# Interpret anomaly result
df['anomaly_label'] = df['anomaly_score'].apply(
    lambda x: 'Anomaly' if x == -1 else 'Normal'
)

C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\2134095879.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['anomaly_score'] = iso.fit_predict(numeric_features)
C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\2134095879.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['anomaly_label'] = df['anomaly_score'].apply(

In [43]:
df.head(3)

,Article,Date,Heading,NewsType,Header_Location,NER_Location,sentiment,sentiment_label,Topic,DayOftheWeek,month,NewsType_Encoded,anomaly_score,anomaly_label
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,KARACHI,"[sindh, karachi]",-0.6369,0,2,Thursday,1,0,1,Normal
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business,HONG KONG,"[hong kong, jakarta, sydney, singapore, taiwan...",0.9856,2,4,Friday,1,0,1,Normal
2,HONG KONG: Hong Kong shares opened 0.66 percen...,2015-01-05,hong kong stocks open 0.66 percent lower,business,HONG KONG,[hong kong],0.0000,1,4,Monday,1,0,-1,Anomaly

In [47]:
df['Header_Location'] = df['Header_Location'].str.strip()
df['Header_Location'] = df['Header_Location'].str.lower()

C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\1502942361.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Header_Location'] = df['Header_Location'].str.strip()
C:\Users\D E L L\AppData\Local\Temp\ipykernel_13320\1502942361.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Header_Location'] = df['Header_Location'].str.lower()

In [ ]:

# SOURCE DISCREPANCY DETECTION 
# Logistic Regression 

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


df = df.copy()
df = df.dropna(subset=['Article', 'Header_Location'])
df.reset_index(drop=True, inplace=True)


location_counts = df['Header_Location'].value_counts()
valid_locations = location_counts[location_counts >= 2].index

df = df[df['Header_Location'].isin(valid_locations)].copy()
df.reset_index(drop=True, inplace=True)

print("Remaining Locations:", df['Header_Location'].nunique())

# Encoding
encoder = LabelEncoder()
y_encoded = encoder.fit_transform(df['Header_Location'])

# Convert Text to Vector

vectorizer = TfidfVectorizer(max_features=5000)
X = vectorizer.fit_transform(df['Article'])

# Train-Test Split 


X_train, X_test, y_train, y_test = train_test_split(
    X,
    y_encoded,
    test_size=0.2,
    random_state=42,
    stratify=y_encoded
)

#  Train Logistic Regression Model
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

#  Evaluate Model
y_pred_test = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred_test)
print("Model Accuracy:", accuracy)


y_pred_full = model.predict(X)
y_prob_full = model.predict_proba(X)

df['Predicted_Location'] = encoder.inverse_transform(y_pred_full)


# Create Boolean Mismatch Column
df['Source_Mismatch'] = (df['Header_Location'] != df['Predicted_Location'])

# Calculate Discrepancy Score
# Probability of TRUE header location
true_class_probs = []

for i in range(len(df)):
    true_label = y_encoded[i]
    class_index = np.where(model.classes_ == true_label)[0][0]
    prob = y_prob_full[i][class_index]
    true_class_probs.append(prob)

df['Discrepancy_Score'] = 1 - np.array(true_class_probs)


print(df[['Header_Location',
          'Predicted_Location',
          'Source_Mismatch',
          'Discrepancy_Score']].head())

Remaining Locations: 163
Model Accuracy: 0.47808764940239046
  Header_Location Predicted_Location  Source_Mismatch  Discrepancy_Score
0         karachi            karachi            False           0.375900
1       hong kong          hong kong            False           0.628414
2       hong kong          hong kong            False           0.602546
3       hong kong          hong kong            False           0.674809
4        new york          singapore             True           0.797892

In [80]:
df.head(3)

,Article,Date,Heading,NewsType,Header_Location,NER_Location,sentiment,sentiment_label,Topic,DayOftheWeek,month,NewsType_Encoded,anomaly_score,anomaly_label,Predicted_Location,Source_Mismatch,Discrepancy_Score
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,karachi,"[sindh, karachi]",-0.6369,0,2,Thursday,1,0,1,Normal,karachi,False,0.375900
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business,hong kong,"[hong kong, jakarta, sydney, singapore, taiwan...",0.9856,2,4,Friday,1,0,1,Normal,hong kong,False,0.628414
2,HONG KONG: Hong Kong shares opened 0.66 percen...,2015-01-05,hong kong stocks open 0.66 percent lower,business,hong kong,[hong kong],0.0000,1,4,Monday,1,0,-1,Anomaly,hong kong,False,0.602546

In [ ]:
# Creating Final anomaly column
df['Final_Anomaly'] = ((df['anomaly_label'] == 'Anomaly') |(df['Source_Mismatch'] == True))

In [82]:
df

,Article,Date,Heading,NewsType,Header_Location,NER_Location,sentiment,sentiment_label,Topic,DayOftheWeek,month,NewsType_Encoded,anomaly_score,anomaly_label,Predicted_Location,Source_Mismatch,Discrepancy_Score,Final_Anomaly
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business,karachi,"[sindh, karachi]",-0.6369,0,2,Thursday,1,0,1,Normal,karachi,False,0.375900,False
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business,hong kong,"[hong kong, jakarta, sydney, singapore, taiwan...",0.9856,2,4,Friday,1,0,1,Normal,hong kong,False,0.628414,False
2,HONG KONG: Hong Kong shares opened 0.66 percen...,2015-01-05,hong kong stocks open 0.66 percent lower,business,hong kong,[hong kong],0.0000,1,4,Monday,1,0,-1,Anomaly,hong kong,False,0.602546,True
3,HONG KONG: Asian markets tumbled Tuesday follo...,2015-01-06,asian stocks sink euro near nine year,business,hong kong,"[madrid, hong kong, sydney, athens, milan, gre...",-0.9836,0,4,Tuesday,1,0,1,Normal,hong kong,False,0.674809,False
4,NEW YORK: US oil prices Monday slipped below $...,2015-01-06,us oil prices slip below 50 a barr,business,new york,"[london, houston, iraq, brazil, us, europe, mi...",-0.9926,0,4,Tuesday,1,0,1,Normal,singapore,True,0.797892,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2504,strong>DUBAI: Dubai International Airport and ...,2017-03-25,Laptop ban hits Dubai for 11m weekend traveller,business,dubai,"[north africa, the middle east, saudi arabia, ...",0.8720,2,2,Saturday,3,0,1,Normal,dubai,False,0.719356,False
2505,"strong>BEIJING: Former Prime Minister, Shaukat...",2017-03-26,Pak China relations not against any third coun...,business,beijing,"[hainan province, pakistan, china, asia]",0.9325,2,2,Sunday,3,0,1,Normal,beijing,False,0.757010,False
2506,strong>WASHINGTON: Uber has grounded its fleet...,2017-03-26,Uber grounds self driving cars after accid,business,washington,"[san francisco, arizona, montenegro, florida, ...",-0.9809,0,2,Sunday,3,0,1,Normal,washington,False,0.869818,False
2507,strong>BEIJING: The New Development Bank plans...,2017-03-27,New Development Bank plans joint investments i...,business,beijing,"[xiamen, fujian province, asia, brazil, russia...",0.9522,2,2,Monday,3,0,1,Normal,islamabad,True,0.923551,True
2508,strong>KARACHI: Karachi-based technology incub...,2017-03-27,Google powered Startup Weekend energizing prou...,business,karachi,[karachi],0.9969,2,2,Monday,3,0,1,Normal,karachi,False,0.682560,False

In [84]:
df.to_csv("final_news_output.csv", index=False)
import joblib

joblib.dump(model, "location_model.pkl")
joblib.dump(vectorizer, "tfidf_vectorizer.pkl")
joblib.dump(encoder, "label_encoder.pkl")

['label_encoder.pkl']